/*
* MAIN STYLESHEET
*
* Main Stylesheet built on Bootstrap by Twitter, 
* relies on bootstrap.css and bootstrap-responsive.css 
*
* @author: Nico Staple
* @email: nico@getmighty.com
*
*
*/


	
/*
| 
| DEFAULTS & GLOBALS
|
#####################################################*/

/* Common utilities 
---------------------------- */
.offscreen { 
	left: -3000px; 
	position: absolute; 
}


/*
| 
| PAGE FORMATTING
|
#####################################################*/

/* Page formatting
---------------------------- */
#wrapper {
	margin: 0 auto;
}
#wrapper #content, #geolocation-error {
	display: none;
}
#geolocation-error {
	padding: 35px;
}
#wrapper #loading {
	text-align: center;
	padding-top: 20px;
}


/*
| 
| STATION LISTING
|
#####################################################*/
#station-list {
	list-style: none;
	margin: 0;
}
#station-list .station-item a {
	color: #000;
	color: rgba(0,0,0,0.7);
	display: block;
	font-size: 100px;
	line-height: 110px;
	border-bottom: 3px solid #000;
	border-bottom-color: rgba(0,0,0,0.7);
	padding: 45px 15px;
}
#station-list .station-item a:hover {
	color: rgba(0,0,0,1);
	text-decoration: none;
}
#station-list .station-item i {
	color: #92EC00;
}
#station-list .station-item path {
	fill: #92EC00;
}
#station-list .station-item i.low {
	color: #FF7C00;
}
#station-list .station-item.bikes-low path {
	fill: #FF7C00;
}
#station-list .station-item i.empty {
	color: #FF1800;
}
#station-list .station-item.bikes-empty path {
	fill: #FF1800;
}

/*
| 
| NUMBER FORMATTING
|
#####################################################*/
.num-container {
	background-color: #92EC00;
	color: #000;
	text-align: center;
	font-size: 300px;
	line-height: 320px;
	height: 50%;
}
.num-container.low {
	background-color: #FF7C00;
}
.num-container.empty {
	background-color: #FF1800;
}
.num-container p {
	color: #000;
	color: rgba(0,0,0,0.8);
	margin: 0;
	padding-top: 80px;
}
.num-container img {
	height: 300px;
	opacity: 0.8;
}

#num-bikes {
	border-bottom: 10px solid #000;
	border-bottom-color: rgba(0,0,0,0.7);
}

.station-banner {
	background: rgba(0,0,0,0.6);
	bottom: 0;
	position: fixed;
}
.station-banner p {
	color: #fff;
	text-align: center;
	font-size: 30px;
	line-height: 30px;
	margin: 0;
	padding: 15px 10px;
}


/*
| 
| RESPONSIVE STYLES
|
#####################################################*/

/* Smartphones to Tablets
---------------------------- */
@media (max-width: 767px) {
	body {
		padding-left: 0;
		padding-right: 0;
	}
}
@media only screen 
and (min-device-width: 320px)
and (max-device-width: 568px) 
and (orientation: landscape) {

    #num-bikes, #num-docks {
    	float: left;
    	font-size: 130px;
    	width: 49%;
    }
    #num-bikes {
    	border-bottom: none;
    	border-right: 6px solid #000;
		border-right-color: rgba(0,0,0,0.7);
    }
    .num-container {
    	height: 100%;
    }
    .num-container img {
		height: 130px;
	}
	.num-container p {
		padding-top: 0;
	}
}